*{
    margin: 0;
    padding: 0;
}
/* Top div for quiz no and timing */
.top_div{
    display: flex;
}
.time{
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    margin-right: 0;
    margin-top: 6vh;
    margin-left: 65vw;
    width: 6vw;
    text-align: center;
    border-radius: 9px;
    
}
.quiz_name{
    border: 2px solid black;
    display: flex;
    margin-top: 3%;
    margin-left: 10%;
    width: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    justify-content: center;
    height: 36px;
    text-align: center;
}
.quiz_name h2{
    margin: auto;
}
.que_container{
    border: 2px solid black;
    background-color: rgba(240, 248, 255, 0.39);
    /* display: flex; */
    margin: 60px auto ;
    width: 70%;
    border-radius: 12px;
    /* height: 250px; */
    height: 60vh;
    /* background: transparent; */
    /* z-index: -10; */
}
.inner_container{
    /* display: inline-block; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items:stretch; */
    height: 20px;
    margin: 10px;
}
.inner_container h2{
    /* justify-self: center; */
    /* float: left; */
    /* margin-left:10px ; */
}
.inner_container h3{
    /* justify-self: end; */
    margin-left: auto;
    /* margin-left: 50rem; */
    /* float: right; */
}
.que_win{
    height: 180px;
    /* position: relative; */
    display: inline-block;
    width: 100%;
    text-align: center;
    justify-content:center;
    border: 1px solid gray;
    border-radius: 14px;
}
.que_win h2{
    display: flex;
    /* position: relative; */
    /* display: inline-block;; */
    /* justify-content: center; */
    /* text-align: center; */
}
.que_box{
    display: flex;
}
.que_box_1{
    width: 60%;
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    padding-left: 2vw;
    /* border: 2px solid black; */
}
.que_box_2{
    width: 40%;
}
.button{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px black solid;
}
.button1{
    width: 70%;
    border: 1px black solid;
    justify-self: end;
}
.buttongroup{
    display:flex;
    justify-content: space-around;

}
.ans_box{
    margin-top: 5vh;
    min-height: 10vh;
    display: flex;
    padding-left: 2vw;
}
.answerform{
    border:2px solid black;
    border-radius: 20px;
    height: 7vh;
    width: 40vw;
    text-align: center;
}
.button_ans{
    border: 2px solid rgba(0, 0, 0, 0.747);
    border-radius: 1vh;
    width: 5vw;
}
.button_ans:hover{
    background-color: rgba(0, 0, 255, 0.61);
    color: white;
}
hr{
    border-top: 1px solid black ;
}
.q_img{
    height: 30vh;
    padding-left: 9vw;
    padding-top:2vh ;
    padding-bottom:2vh ;
    /* padding: 2vw,9vw; */
}
.mapping{
    border: 2px solid black;
    background-color: rgba(249, 251, 253, 0.404);
    background-image: url(../images/mapping.jpg);
    margin: 2vh 15vw;
    border-radius: 3vh;
    height:30vh;
    text-align: center;

}
.bottom_buttons{
    /* border: 2px solid black; */
    text-align: center;
    justify-content: space-between;
    /* background-color: rgba(240, 248, 255, 0.658); */
    margin: 8vh;
}
.bottom_btns{
    background-color: rgb(240, 248, 255);
    margin:0 6vw;
    border-radius: 1vh;
    /* width: 10vw; */
    border: 2px solid black;
}
.bottom_btns:hover{
    background-color: rgba(0, 0, 255, 0.61);
    color: white;
}
.endbtn{
    /* background-color: red; */
    border: none;
    

}
.endbtn:hover{
    background-color: red ;  
    width: 5vw;
}

/* .button_ans_submit{
    background-color: green;
    border: 2px solid black;
    border-radius: 1vh;
} */